DEBUG=True

SECRET_KEY=django-development-secret-key

DB_NAME=simulador_viagens
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

NOMINATIM_URL=https://nominatim.openstreetmap.org/search
OSRM_URL=https://router.project-osrm.org